
#top{
     color: red;
     font-family:"Times New Roman", Times, serif;
}
.col-md-4{
     color: blue;
     font-size: 1em;
     font-family:"Times New Roman", Times, serif;
}
#sum{
    color: gold;
    font-family:"Times New Roman", Times, serif;
}
