<!DOCTYPE html>
<html>

  <head>
    <title>Restuarant's Found</title>
  </head>
  <body>
    <h2><center>Restaurant's Found</center></h2>
    <ul>
        <li>{{eventpar['name']}}</li>
        <li>{{eventpar['description']}}</li>
        <li>{{eventpar['time']}}</li>
        <li>{{eventpar['place']}}</li>
        <li>{{eventpar['address']}}</li>
        <li><img src={{eventpar['logo']}} alt = "Logo"></li>
        <li><a href={{eventpar['url']}}>Visit Event!</a></li>
    </ul></center></p>
</body>
</html>
