<!DOCTYPE html>
<html style="background-color:#FFA07A">
<head>
<link rel="shortcut icon" href="../static/icon.ico" />
  <link rel="shortcut icon" href="../static/icon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://bootswatch.com/united/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>    



<title>Events Found</title>

  <body style="background-color:#FFA07A">
    <h2><center>Events Found</center></h2>
    <ul>
    {% for item in eventpar %}
       
      <form action="/viewFoods" method="POST">
          
 <div style="width:1000px;height:750px;background-color:#F08080;box-shadow: 10px 10px 5px #CD5C5C">
        <h4>Event found!</h4>
        <li>Name: {{ item['name'] }}</li>    
        <li>Time: {{ item['time'] }}</li>
        <li>Venue: {{ item['place'] }}</li>
        <li>Address: {{ item['address'] }}</li>
        <li>Cost: ${{ item['cost'] }}</li>
        <li>Description: {{item['description']}}</li>
    
        <li><img src="{{ item['logo'] }}" alt = "Logo"></li>
     <br>
     <li><u><a style="color:white" href="{{ item['url'] }}">Click for further information!</a></u></li>
        <br><br>
        <button class="btn btn-success btn-lg" type = "submit" value = "actionEvent"> Find Nearby Eateries
            <input type = "hidden" name = "lat" value = "{{ item['lat'] }}">
            <input type = "hidden" name = "long" value = "{{ item['long'] }}">
            <input type = "hidden" name =  "eName" value = "{{ item['name'] }}">
            <input type = "hidden" name = "eDesc" value = "{{ item['description'] }}">
            <input type = "hidden" name = "eTime" value = "{{ item['time'] }}">
            <input type = "hidden" name = "eVenue" value = "{{ item['place'] }}">
            <input type = "hidden" name = "eAddress" value = "{{ item['address'] }}">          
            <input type = "hidden" name = "eCost" value = "{{ item['cost'] }}"> 
            <input type = "hidden" name = "eLink" value = "{{ item['url'] }}"> 
        </button>
    
       </div>
          <br><br>
      </form>
      {% endfor %}
    </ul>
    </body>
</html>

