<!DOCTYPE html>
<html>
<head>
<link rel="shortcut icon" href="../static/icon.ico" />
  <link rel="shortcut icon" href="../static/icon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://bootswatch.com/united/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>    
    <title>Events Found</title>

  <body>
    <h2><center>Events Found</center></h2>
    <ul>
      {% for item in eventpar %}
      <form action="/viewFoods" method="POST">
        <h4>Event found!</h4>
        <li>Name: {{ item['name'] }}</li>
        <li><div class="container">
                <button style="height:50px ; width:160px ; float:left" type="button" class="btn btn-info" data-toggle="collapse" data-target= "#{{item['name']}}"> Click For Description </button>
                <div id={{item['name']}} class="collapse">
                    <br><br><br>
                    <p style="text-align:left">Description: {{ item['description'] }} </p>
                </div>
             </div>  
        </li>
          
          
          
          
          
          
        <li>Time: {{ item['time'] }}</li>
        <li>Venue: {{ item['place'] }}</li>
        <li>Address: {{ item['address'] }}</li>
        <li>Cost: ${{ item['cost'] }}</li>
        <li><img src="{{ item['logo'] }}" alt = "Logo"></li>
        <li><a href="{{ item['url'] }}">Click for further information!</a></li>
        <br><br>
        <button class="btn btn-success btn-lg" type = "submit" value = "actionEvent"> Find Nearby Eateries
            <input type = "hidden" name = "eButton" value = "action">
            <input type = "hidden" name = "lat" value = "{{ item['lat'] }}">
            <input type = "hidden" name = "long" value = "{{ item['long'] }}">
            <input type = "hidden" name =  "eName" value = "{{ item['name'] }}">
            <input type = "hidden" name = "eDesc" value = "{{ item['description'] }}">
            <input type = "hidden" name = "eTime" value = "{{ item['time'] }}">
            <input type = "hidden" name = "eVenue" value = "{{ item['place'] }}">
            <input type = "hidden" name = "eAddress" value = "{{ item['address'] }}">          
            <input type = "hidden" name = "eCost" value = "{{ item['cost'] }}"> 
            <input type = "hidden" name = "eLink" value = "{{ item['url'] }}"> 
        </button>
        <br><br>
      </form>
      {% endfor %}
    </ul>
    </body>
</html>

