<!DOCTYPE html>
<html style="background-color:#FFA07A">
<head>
<link rel="shortcut icon" href="../static/icon.ico" />
<link rel="stylesheet" href="https://bootswatch.com/united/bootstrap.min.css" >
</head>
<title>Restaurant's Found</title>   
  <body style="background-color:#FFA07A">
    <h2><center>Restaurants and Eateries Near You!</center></h2>
    {% for item in foodpar %}
    <form action="/summary" method="POST">
    <ul>
<div style="width:1000px;height:700px;background-color:#F08080;box-shadow: 10px 10px 5px #CD5C5C">
        <h4>Eatery found!</h4>
        <li>Name: {{ item['name'] }}</li>
        <li>Address: {{ item['address'] }}</li>
        <li>Open Hours: {{ item['time'] }}</li>
        <li>Price Level: {{ item['price'] }}</li><br>
        <li><img src= "../static/image{{item['index']}}.jpg" alt = "Logo"></li><br>
    <li><u><a style="color:white" href= "{{ item['url'] }}">Click for further information!</a></u></li><br>
        <button class="btn btn-success btn-lg" type = "submit" value = "actionFood"> Create Plan
            <input type = "hidden" name = "eName" value = "{{ eventData[0] }}">
            <input type = "hidden" name = "eDesc" value = "{{ eventData[1] }}">
            <input type = "hidden" name = "eTime" value = "{{ eventData[2] }}">
            <input type = "hidden" name = "eCost" value = "{{ eventData[3] }}">
            <input type = "hidden" name = "eVenue" value = "{{ eventData[4] }}">
            <input type = "hidden" name = "eAddress" value = "{{ eventData[5] }}">
            <input type = "hidden" name = "eLink" value = "{{ eventData[6] }}">
            <input type = "hidden" name = "fName" value = "{{ item['name'] }}">
            <input type = "hidden" name = "fAddress" value = "{{ item['address'] }}">
            <input type = "hidden" name = "fTime" value = "{{ item['time'] }}">
            <input type = "hidden" name = "fPrice" value = "{{ item['price'] }}">
            <input type = "hidden" name = "fLink" value = "{{ item['url'] }}">
        </button>
        </div>
    </ul>
    </form>
    <br><br>
    {% endfor %}
      
      <!--
    <h3> info for selected event (test) </h3>
    <ul>
        <li> {{ eventData[0] }} </li> 
        <li> {{ eventData[1] }} </li>
        <li> {{ eventData[2] }} </li>
        <li> {{ eventData[3] }} </li>
        <li> {{ eventData[4] }} </li> 
        <li> {{ eventData[5] }} </li>
        <li> {{ eventData[6] }} </li>
    </ul> -->
    </body>
</html> 
      
