<!DOCTYPE html>
<html>

  <head>
    <title>Events Found</title>
  </head>
  <body>
    <h2><center>Events Found</center></h2>
    <ul>
      {% for item in eventpar %}
        <li>{{item['name']}}</li>
        <li>{{item['description']}}</li>
        <li>{{item['time']}}</li>
        <li>{{item['place']}}</li>
        <li>{{item['address']}}</li>
        <li><img src={{item['logo']}} alt = "Logo"></li>
        <li><a href={{item['url']}}>Visit Event!</a></li>
    </ul></center></p>
</body>
</html>
