<!DOCTYPE html>
<html>
<head>
<link rel="shortcut icon" href="../static/icon.ico" />
<link rel="stylesheet" href="https://bootswatch.com/united/bootstrap.min.css" >
</head>
    
    
    
<title>Find an Event</title>
<body><div class="jumbotron">
    <center><h2>Find Your Next Experience</h2></center>
    <center><h5 style="color:red">{{ errorMessage }}</h5></center>
    <br><br>
    <center><h4>Enter your Address For An Awesome Time</h4></center>
    <center>
    <form action="/viewEvent" method="post" id="form1">
      <center><input type= "text" name = "Zip Code" placeholder = "Zipcode" required></center>
      <br>
      <center>Time: <input type = "time" name = "Time" required></center>
      <br>
      <center>Date: <input type = "date" name = "Date" required></center>
      <br>
        
      <center>Budget: <input type = "range" style="width:500px" name = "Budget" min = "0" max = "500" value = "0" step = "10" onchange="showValue(this.value)" /></center>
      <span id="range">0</span>
      <script type="text/javascript">
	function showValue(newValue)
	{
	    document.getElementById("range").innerHTML=newValue; 
	}
      </script> 
 
     <center>How Many Miles Are You Willing To Travel? <input type = "text" placeholder = "Enter # From 0-100" name = "Radius"/></center>
          
     <button class="btn btn-success btn-lg"  type="submit" form ="form1" name="findeventbutton">Submit!</button>
    </form>
    </center>
    </div>
<br></body></html>
